@import '../../../styles/colors.scss';

.login {
  height: 100vh;
  display: flex;
  align-items: center;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form {
      h4 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 50px;

        span {
          color: $clrPrimary;
        }
      }

      .card {
        background-color: $bgSecondary;
        padding: 40px;
        border-radius: 20px;
        width: 540px;
        text-align: center;

        h5 {
          font-size: 18px;
        }

        form {
          .input {
            padding: 10px 0;

            &:first-child {
              margin-top: 40px;
            }

            i {
              position: absolute;
              margin-top: 12px;
              font-size: 36px;
              color: $clrPrimary;
              margin-left: 15px;
            }

            input {
              padding-left: 60px;
              background-color: #222222;
              border: 2px solid $clrPrimary;
              border-radius: 40px;
              width: 460px;
              height: 60px;
              color: #fff;
              font-size: 18px;

              &.active, &:focus {
                color: $clrPrimary;
                outline: none;
              }
            }
          }
        }

        button {
          padding: 10px 20px;
          color: #fff;
          border-radius: 10px;
          background-color: $clrPrimary;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          margin-top: 30px;
          font-size: 18px;
        }
      }
    }
  }
}