.navbar {
  padding: 30px 0;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links {
      ul {
        display: flex;
        gap: 20px;

        li {
          list-style: none;
          z-index: 999;
        
          button {
            color: #fff;
            transition: .2s all ease;
            font-size: 18px;
            font-weight: 700;

            &:hover {
              color: #1c1c1c;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .navbar {
    .flex {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .links {
        margin-top: 30px;
      }
    }
  }
}