@import '../../styles/colors.scss';

.headline {
  margin: 150px 0;

  .infos {
    max-width: 800px;

    h4 {
      font-size: 48px;
      color: #fff;

      span {
        color: $clrPrimary;
      }
    }

    p {
      font-size: 18px;
      color: #c9c9c9;
    }
  }

  .grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    .item {
      .card {
        padding: 30px;
        background-color: $bgSecondary;
        border-radius: 20px;
        transition: .2s all ease;

        &:hover {
          background-color: $clrPrimary;
          transform: scale(1.06);

          h1, h4 {
            color: #fff !important;
            -webkit-text-stroke-width: 0px !important;
          }

          p {
            color: #fff !important;
          }
        }

        .header {
          h1 {
            font-size: 100px;
            font-weight: 700;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $clrPrimary;
            color: transparent;
          }

          h4 {
            font-size: 24px;
            color: $clrPrimary;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        .content {
          p {
            margin-top: 10px;
            font-size: 18px;
            color: #C6C6C6;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 998px) {
  .headline {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 578px) {
  .headline {
    .grid {
      grid-template-columns: 1fr;

      .item {
        .card {
          text-align: center;
        }
      }
    }
  }
}