@import '../../../styles/colors.scss';

.briefing {
  .head {
    .content {
      background-color: $clrPrimary;
      padding: 50px;
      border-radius: 0 0 40px 40px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        font-size: 48px;
        font-weight: 700;
      }

      p {
        margin-top: 16px;
        color: #e6e6e6;
        max-width: 50%;
      }
    }
  }

  .body {
    margin: 100px 0;

    form {
      .section {
        .title {
          padding: 10px 20px;
          background-color: $clrPrimary;
          width: fit-content;
          border-radius: 10px 10px 0 0;

          h4 {
            font-size: 24px;
            font-weight: 700;
          }

          p {
            color: #e6e6e6;
          }
        }

        .content {
          border: 2px solid $clrPrimary;
          padding: 50px;
          border-radius: 0 10px 10px 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;

          .question {
            background-color: $bgSecondary;
            padding: 30px;
            border-radius: 10px;
            max-width: 70%;
            width: 100%;

            h4 {
              font-size: 24px;
              font-weight: 500;

              span {
                &::before {
                  content: ' '
                }

                color: #ff4f49;
                font-size: 18px;
              }
            }

            input[type="text"] {
              background-color: transparent;
              border: none;
              border-bottom: 2px solid $bgThird;
              margin-top: 40px;
              padding: 0 0 10px 0;
              font-size: 18px;
              color: #e6e6e6;
              width: 100%;
              transition: .2s all ease;

              &:focus {
                outline: none;
                border-bottom-color: $clrPrimary;
                color: $clrPrimary;
                transition: .2s all ease;
              }
            }

            .options {
              margin-top: 40px;
              display: flex;
              flex-direction: column;
              gap: 20px;

              .option {
                display: flex;
                align-items: center;
                gap: 20px;
  
                label {
                  p {
                    font-size: 18px;
                    color: #e6e6e6;
                  }
                }
  
                input[type="radio"] {
                  appearance: none;
  
                  &::after {
                    content: '';
                    display: block !important; 
                    width: 10px;
                    height: 10px;
                    background: $bgThird;
                    border-radius: 50%;
                    border: 5px solid $bgThird;
                    outline: 2px solid #e6e6e6;
                    transition: .2s all ease;
                  }
  
                  &:checked::after {
                    content: '';
                    display: block !important; 
                    background-color: $clrPrimary;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 5px solid $bgThird;
                    outline: 2px solid $clrPrimary;
                    transition: .2s all ease;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}